body {
    background-color:lightslategrey;
}

p{
    font-size: medium;
    color:black ;
}





#titolo2{
    text-align: center;
    color:rgb(98, 4, 136);
}

#foto1 {
    width: 40%;
}


#font-div {
    background-color: gold;
    width: 100%;
    border: 10px solid goldenrod
}

#font-div2 {
    background-color: rgb(255, 102, 0);
    width: 100%;
    border: 10px solid rgb(218, 122, 32)
}